APP_NAME=wetalk-academy
PORT=8046
HOST=localhost

MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=wetalk_academy

SERVER_URL=http://localhost:8046
CLIENT_URL=http://localhost:3000

JUDGE0_BASE_URL=http://<ubuntu-vm-ip>:2358

# JWT configuration
JWT_SECRET=secret_key

# Logging
LOG_LEVEL=info
LOG_FILE_PATH=logs/app.log
LOG_MAX_SIZE_MB=10
LOG_CONSOLE=true
LOG_DASHBOARD_TOKEN=